body {
    margin-left: 15px;
    background-color: #333;
    color: lightgray;
  }
  h1 {
    text-align: center;
    font-size: 35px;
    padding: 25px;
    background-color: rgb(190,222,222);
    border-radius: 10px;
    color: #666;
  }
  h2 {
    text-align: left;
    font-size: 25px;
    margin-top: 65px;
    padding: 15px;
    background-color: rgb(190,222,222);
    border-radius: 10px;
    color: #666;
  }
  h3 {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
  }
  form {
    font-size: 15px;
    font-family: Verdana;
    border: 5px solid rgb(190,222,222);
    border-radius: 10px;
    padding: 12px;
  }
  .form1 {
    padding: 5px;
  }
  .form2 {
    padding: 5px;
  }
  .form3 {
    padding: 5px;
  }
  .text1 {
    margin-left: 7%;
    width: 15%
  }
  .input1 {
    margin-right: 30px;
  }
  input, select {
    border-radius: 8px;
    height: 20px;
    margin: 10px;
    color: #666;
    background-color: rgb(190,222,222);
  }
  input:hover, select:hover, button:hover {
    background-color: rgba(190,222,222,0.6);
  }
  input:focus, select:focus, button:focus {
    background-color: rgba(190,222,222,0.8);
  }
  button {
    background-color: rgb(190,222,222);
    width: 120px;
    height: 30px;
    border-radius: 8px;
    margin-left: 55px;
  }
  p {
    font-size: 15px;
    font-family:Verdana
  }
  table {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    border: 2px solid rgb(190,222,222);
  }
  th, td {
    padding: 8px;
    border: 2px solid rgb(190,222,222);
  }